body{
    margin:0;
}
#editorWrap{
    margin:0;
    padding:0;
    height:100vh;
    display:flex;
    flex-direction: column;
    #toolbar{
        height:40px;
        border:2px solid red;
        padding-left:10px;
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        i{
            margin-right:10px; 
        }  
        i:hover{
            cursor:pointer;
        }
    }      
    textarea{
        flex-grow: 1;
        font-size:1.2em;
        border:2px solid red;  
    }
}

#preview{
    position: absolute;
    right:0px;
    top:0px;
    height:100vh;
    border:2px solid red;  
    overflow: auto;
}

