body{
    margin:0;
}
        
textarea{
    height:100vh;
    font-size:1em;
    border:2px solid red;  
}
#preview{
    position: absolute;
    right:0px;
    top:0px;
    height:100vh;
    border:2px solid red;  
}

